.MuiInput-underline-26:after, .MuiInput-underline-26::before{
    border-bottom:1px solid #fff!important;
}
.MuiInput-root-22{
    color:#fff!important;
}
.MuiFormLabel-root-15{
    color:#fff!important;
}
.RegisterForm-container-1 h3{
    color:#fff;
    width:100%;
    border-bottom:1px solid #fff;
    margin-top:1rem;
}

label + .MuiInput-formControl-23{
    margin-top:10px!important;
}

.MuiFormControl-marginNormal-7{
    margin-top:0!important;
}