.MuiAppBar-colorPrimary-10{
    background:#b40202!important;
}
.MuiIconButton-label-73 img{
    border-radius:50%;
    opacity:0.7;
    border:1px solid rgba(0,0,0,0.8);
    width:48px;
}
.MuiIconButton-label-73 img:hover{
    opacity:1;
}

.header-logo{
    height:50px; 
}

.searchInput{
    background:rgba(255,255,255,0.3);
    border: 1px solid #b40202;
    margin:0 50px;
    color:#fff;
    padding:2px 5px;
    border-radius:5px;
}
.searchInput:focus{
    outline:none;
}
.searchInput::placeholder{
    color:#fff;
    opacity:0.5;
}